/* jbfm.css - CSS file for JBFileManager from Eduard Gurskiy, 2010 */

.jbfm-container {
    padding: 0;
    margin: 0;
}

.jbfm-container li {
    list-style-type: none;
}

/* indent for all tree children excepts root */
.jbfm-node {
    background-image : url(img/i.gif);
    background-position : top left;
    background-repeat : repeat-y;
    margin-left: 18px;
    zoom: 1;
}

.jbfm-root {
    margin-left: 0;
}

/* left vertical line (grid) for all nodes */
.jbfm-last {
    background-image: url(img/i_half.gif);
    background-repeat : no-repeat;
}

.jbfm-opened .jbfm-expand {
    background-image: url(img/expand_minus.gif);
}

/* closed is higher priority than open */
.jbfm-closed .jbfm-expand {
    background-image: url(img/expand_plus.gif);
}

/* highest priority */
.jbfm-leaf .jbfm-expand {
    background-image: url(img/expand_leaf.gif);
}

.jbfm-name {
    min-height: 18px;
    margin-left:18px;
}

* html .jbfm-name {
    height: 18px;
}

.jbfm-expand {
    width: 18px;
    height: 18px;
    float: left;
}

.jbfm-opened .jbfm-container {
    display: block;
}

.jbfm-closed .jbfm-container {
    display: none;
}

.jbfm-opened .jbfm-expand, .jbfm-closed .jbfm-expand {
    cursor: pointer;
}
.jbfm-leaf .jbfm-expand {
    cursor: auto;
}

.jbfm-progress   {
    width: 18px;
    height: 18px;
    float: left;
    background-image: url(img/ajax-loader.gif);
    background-repeat : no-repeat;
}

/* Item types clases: */

/* Default class for all items: */
.jbfm-type-default   {
    width: 18px;
    height: 18px;
    float: left;
    background-image: url(img/unknown.png);
}

/* Unknown file type(no extension): */
.jbfm-type-unknown   {
    background-image: url(img/unknown.png);
}

/* Contents of unsupported containers (rar, etc), returned by UnsupportedLister */
.jbfm-type-unsupp    {
    background-image: url(img/error.png);
}

/* Errors in containers: */
.jbfm-type-err   {
    background-image: url(img/error.png);
}

/* Folders: */
.jbfm-type-folder   {
    background-image: url(img/folder.png);
}

/* File types classes are listed below.
You can add any file types icons, use the following syntax for class:

.jbfm-type-<file extension> {
    background-image: url(<URL to icon file>);
}

Put your class in the end of this list.
Enjoy. :)
*/

.jbfm-type-zip, .jbfm-type-jar, .jbfm-type-rar, .jbfm-type-7z   {
    background-image: url(img/archive.png);
}

.jbfm-type-jpg, .jbfm-type-png, .jbfm-type-gif, .jbfm-type-bmp   {
    background-image: url(img/pic.png);
}

.jbfm-type-mp3   {
    background-image: url(img/mp3.png);
}

.jbfm-type-wav, .jbfm-type-flac   {
    background-image: url(img/music.png);
}

.jbfm-type-avi, .jbfm-type-mpg, .jbfm-type-mkv   {
    background-image: url(img/video.png);
}
