<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <servlet>
        <servlet-name>JBFileManager</servlet-name>
        <servlet-class>ru.guredd.jbfilemanager.PrimaryServlet</servlet-class>
        <init-param>
            <param-name>root_folder_provider</param-name>
            <param-value>ru.guredd.jbfilemanager.rootfolderprovider.FixedRootFolderProvider</param-value>
        </init-param>
        <init-param>
            <param-name>root_path</param-name>
            <param-value>C:\</param-value>
        </init-param>
        <init-param>
            <param-name>details_mode</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>sort_mode</param-name>
            <!--possible values: name, size, modified -->   
            <param-value>name</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>JBFileManager</servlet-name>
        <url-pattern>/qqq</url-pattern>
    </servlet-mapping>

</web-app>
